/*avatar*/
.comments .avatar-image-container {
  background: #090909 url(//i.imgur.com/zEHslad.jpg)center;
  width: 60px;
  height: 100%;
  border-radius: 6px;
  box-shadow: 0 2px 3px -2px rgba(0,0,0,.9),0 0 2px 0 rgba(0,0,0,.9);
  display: none;
}
/*coment*/
.comments .comment {
  position: relative;
}
/*coment content*/
.comments .comment-content {
  padding-bottom: 1.5rem;
  margin-bottom: 5.5rem;
  border-bottom: 1px dashed rgba(255,255,255,.2);
  color: #F0F8FB;
  text-shadow: 0 0 2px #F0FBF9;
  line-height: 1.6rem;
  padding-right: 1.5rem;
}
.comment-replies .comment-content {
  margin-bottom: 2.5rem;
}
/*coment block*/
.comments .comment-block {
  line-height: 1.6rem;
  background: #090909 url(//i.imgur.com/W2QWZjP.png)center;
  margin-bottom: 1rem;
  padding: 1.5rem;
  font-size: 1.1rem;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.7),0 1px 5px 0 rgba(0,0,0,.7),0 3px 1px -2px rgba(0,0,0,.7);
  position: relative;
  border-radius: 7px;
}

/*delete comment*/
.comments .deleted-comment {
  background-color: #f3f3f3;
  padding: 1rem;
  color: #757575;
}
/*toggle*/
.comments .thread-toggle {
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.comments .thread-toggle a {
  font-size: 0;
  color: #757575;
}
.comments .thread-toggle a::before {
  content: "\61";
  font-size: 20px;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  height: 7px;
}
.comments .thread-toggle.thread-expanded a::before {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
/*user*/
.comments .comment-header {
  position: absolute;
  bottom: 4rem;
  left: 1.5rem;
}
.comments .comment-header .user {
  margin-right: .2rem;
}
.comments .comment-header .user, 
.comments .comment-header .user a {
  font-style: normal;
  font-weight: 500;
  color: #00B7D1;
  text-shadow: 0 0 2px #06DAF9;
}
.user a:hover {
  color: #00D183;
  text-shadow: 0 0 2px #06F99F;
}
/*datetime*/
.comments .comment-header .datetime > a {
  color: #2F2F2F;
  font-weight: 500;
  font-size: .95rem;
}
/*reply btn*/
.comment-actions {
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
}
.comment-actions > a {
  display: inline-block;
  color: #C8C8C8;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 500;
  margin: -7px;
  padding: 0 4px;
  border-radius: 2px;
  border: 2px solid rgba(0,0,0,.3);
  transition: color .3s,border .3s,background .3s;
  background: url(//i.imgur.com/vqc0Nwm.gif)center;
}
.comment-actions > a:hover {
  color: #FFF;
  border-color: rgba(0,0,0,.9);
  background: url(//i.imgur.com/yF3Kx3T.jpg)center;
}
/*replies*/
.comments .comment-replies .comment-block {
  margin-left: 4rem;
}
/* form */
.comments .comment-form {
  padding-top: 1rem;
}

@media (min-width: 768px) {
  .comments .comment-replies .comment, 
  .comments .comment-replybox-single,
  .comments .comment-replybox-thread {
    margin-left: 5rem;
  }
  .comments .comment-content {
    margin-bottom: 2.5rem;
  }
  .comments .comment-block {
    margin-left: 5rem;
  }
  .comments .comment-header {
    bottom: 1.5rem
  }
  .comments .comment-content {
    margin-bottom: 2.5rem;
  }
  .comments .comment-actions {
    left: auto;
    right: 1.5rem
  }
  .comments .comment-block {
    margin-left: 5rem;
  }
  .comments .comment-replies .comment-block {
    margin-left: 4rem
  }
  .comments .avatar-image-container {
    display: block;
  }
}
.comment-replies .comment-header {
  bottom: 1.5rem;
}
